.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5%;
}

.nav-bar a {
  text-decoration: None;
  margin: 10px;
  color: black;
  font-weight: bold;
}

.nav-bar a:hover {
  color: gray;
}
