.tile {
  display: inline-flex;
  background-color: darkgreen;
}

.grass {
  background-color: darkgreen;
}

.rock {
  background-image: url('/tiles/rock.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tree {
  background-image: url('/tiles/tree.png');
  background-size: 100%;
}
