.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  margin-bottom: 5px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
}
